html {
  -webkit-print-color-adjust: exact;
}

.btns-control {
  position: fixed;
  right: 10%;
  width: 40%;
}

.btns-control button {
  width: 200px;
}

.has-error {
  border-color: #d9534f;
}

#CSV_ticketFields {
  width: 100%;
  display: inline-block;
}

#CSV_ticketFields .inline-input,
#CSV_userFields .inline-input,
#CSV_orgsFields .inline-input {
  width: 49%;
  display: inline-block;
}

p {
  font-size: 15px;
}

.userFieldInfo {
  width: 32%;
  display: inline-block;
}

.orgFieldInfo {
  width: 32%;
  display: inline-block;
}

.ticketFieldInfo {
  width: 49%;
  display: inline-block;
}

.fa:hover {
  cursor: pointer;
}

.text-blue {
  color: blue;
}

.text-green {
  color: green;
}

.text-yellow {
  color: #ffcc00;
}

.text-red {
  color: red;
}


.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  position: relative;
  left: 46%;
  top: 200px;
}

.table>tbody>tr>td,
.table>tbody>tr>th {
  border: 0;
  padding: 0;
}

input.ng-invalid.ng-dirty {
    border-color: red;
    color: red;
}

/* Safari */

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
