<!DOCTYPE html>
<html>

  <head>
    <title>CSV Automation</title>
    <link rel="stylesheet" href="https://unpkg.com/angular-toastr/dist/angular-toastr.css" />
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/main.css" rel="stylesheet">
    <script type="text/javascript" src="./js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="./js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="./js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./js/papaparse.min.js"></script>
    <script type="text/javascript" src="./js/angular.min.js"></script>
    <script type="text/javascript" src="./js/moment.min.js"></script>
    <script src="https://unpkg.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
    <script src="https://use.fontawesome.com/c1c028ec99.js"></script>
    <script type="text/javascript" src="./js/main.js"></script>
  </head>

  <body ng-app="csvAutomation" ng-controller="csvAutomationController">


    <div class="btns-control" ng-show="!loader">
      <button class="btn btn-success" ng-click="toggleUpdate()" ng-show="!update_process" ng-disabled="!running">Play</button>
      <button class="btn btn-danger" ng-click="toggleUpdate()" ng-show="update_process" ng-disabled="!running">Pause</button>
      <!-- <button class="btn btn-primary" ng-click="print()">Print</button> -->
    </div>


    <div class="loading text-center" ng-show="loader">
      <div class="loader"></div>
      <h2 class="loaderDescription">Validating Zendesk Authentication...</h2>
    </div>

    <br>
    <br>


    <!-- Zendesk Settings Modal -->
    <div id="zendesk-settings-modal" class="modal fade" data-keyboard="false" data-backdrop="static" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2 class="modal-title">Zendesk Settings</h2>
          </div>
          <br>
          <form ng-submit="zendeskSettings()">
            <div class="modal-body">
              <b>Zendesk API Key</b>
              <br>
              <input type="text" class="form-control" ng-model="zendesk.APIkey" placeholder="e.g. OlqHL3EXzVtnh6aJRchwrxaDuOvQDOb3TXC2nLKH" required>
              <br>
              <br>
              <b>Zendesk URI</b>
              <br>
              <input type="text" class="form-control" ng-model="zendesk.uri" placeholder="https://domain.zendesk.com" required>
              <br>
              <br>
              <b>Zendesk User</b>
              <br>
              <input type="email" class="form-control" ng-model="zendesk.user" placeholder="user@email.com" required>
              <br>
              <br>
              <b>Action to take</b>
              <br>
              <select class="form-control" ng-model="dataToBeUpdated" required>
                <option value=""></option>
                <option value="createAndUpdateUsers">Create or update users</option>
                <option value="createTickets">Create tickets</option>
                <option value="createOrganizations">Create organizations</option>
              </select>
              <br>
              <br>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">OK</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- CSV File Name Modal -->
    <div id="csv-users-settings-modal" class="modal fade" data-keyboard="false" data-backdrop="static" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2 class="modal-title">CSV Settings</h2>
          </div>
          <br>
          <form id="CSV_userFields" name="userFieldsForm" ng-submit="CSVstart()">
            <div class="modal-body">
              <b>CSV file</b>
              <br>
              <input type="file" class="form-control" custom-on-change="CSVSettings" placeholder="Select CSV file..." accept=".csv,.tsv,.txt" required>
              <!--<input type="checkbox" ng-model="CSVHeaders">Description Header-->
              <div>
                <span ng-bind-html="CSVInfo" />
              </div>
              <div class="radio">
                <label>
                  <input type="radio" value="updateOnly" id="updateOnly" ng-model="usersMethod">Update existing users only</label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" value="createOrUpdate" id="createOrUpdate" ng-model="usersMethod">Create or update users</label>
              </div>
              <br>
              <b>User Identification</b>
              <br>
              <!-- <input type="text" class="form-control inline-input" ng-model="userSearch.csv" placeholder="CSV Column" required> -->
              <table class="table table-borderless">
                <tr>
                  <td>Email:</td>
                  <td>
                    <select class="form-control" ng-model="CSVColumns.email" required>
                      <option value=""></option>
                      <option ng-repeat="option in CSVHeaders" value="{{option}}">{{option}}</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>Name:</td>
                  <td>
                    <select class="form-control" ng-model="CSVColumns.name" required>
                      <option value=""></option>
                      <option ng-repeat="option in CSVHeaders" value="{{option}}">{{option}}</option>
                    </select>
                  </td>
                </tr>
                <tr>
                <tr>
                  <td>External ID:</td>
                  <td>
                    <select class="form-control" ng-model="CSVColumns.external_id">
                      <option value=""></option>
                      <option ng-repeat="option in CSVHeaders" value="{{option}}">{{option}}</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>Role:</td>
                  <td>
                    <select class="form-control" ng-model="CSVColumns.role">
                      <option value=""></option>
                      <option value="fixed:end-user">-- Fixed: end-user --</option>
                      <option value="fixed:agent">-- Fixed: agent --</option>
                      <option value="fixed:admin">-- Fixed: admin --</option>
                      <option ng-repeat="option in CSVHeaders" value="{{option}}">{{option}}</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>Default Group ID:</td>
                  <td>
                    <input type="text" class="form-control" ng-model="CSVColumns.default_group_id" ng-pattern=/^\d+$/>
                  </td>
                </tr>
                <tr>
                  <td>Organization (ID or name):</td>
                  <td>
                    <select class="form-control" ng-model="CSVColumns.organization_id">
                      <option value=""></option>
                      <option ng-repeat="option in CSVHeaders" value="{{option}}">{{option}}</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>Phone:</td>
                  <td>
                    <select class="form-control" ng-model="CSVColumns.phone">
                      <option value=""></option>
                      <option ng-repeat="option in CSVHeaders" value="{{option}}">{{option}}</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>Active:</td>
                  <td>
                    <select class="form-control" ng-model="CSVColumns.active">
                      <option value=""></option>
                      <option value="fixed:true">-- Fixed: Active --</option>
                      <option value="fixed:false">-- Fixed: Not active --</option>
                      <option ng-repeat="option in CSVHeaders" value="{{option}}">{{option}}</option>
                    </select>
                  </td>
                </tr>
              </table>
              <br>
              <br>

              <b>CSV Line (1 = Header)</b>
              <br>
              <input type="text" class="form-control inline-input" ng-class="{'has-error': hasError}" ng-pattern=/^\d+$/ ng-model="indexInit" placeholder="From line...">
              <input type="text" class="form-control inline-input" ng-class="{'has-error': hasError}" ng-pattern=/^\d+$/ ng-model="indexEnd" placeholder="To line...">
              <br>
              <br>
              <b>Delay between requests in SECONDS</b>
              <br>
              <input type="text" class="form-control inline-input" style="width:60px" ng-model="delay" ng-pattern=/^\d+$/>
              <br>
              <br>

              <b>User Fields
                <i class="fa fa-plus-circle" aria-hidden="true" ng-click="addUserField()"></i>
              </b>
              <br>
              <div ng-repeat="items in userFieldsArray">
                <input type="text" class="form-control userFieldInfo" ng-pattern=/^\w+$/ ng-model="items.key" placeholder="User Field Key" name="userFieldId" required>
                <select class="form-control userFieldInfo" ng-model="items.value" required>
                  <option ng-repeat="option in CSVHeaders" value="{{option}}">{{option}}</option>
                </select>
                <select class="form-control userFieldInfo" ng-model="items.dataType" required>
                  <option value="Text" selected>Text</option>
                  <option value="Date_br">Date (DD/MM/AAAA)</option>
                  <option value="Checkbox">Checkbox</option>
                </select>
                <br>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" ng-disabled="userFieldsForm.$invalid">OK</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div id="csv-tickets-settings-modal" class="modal fade" data-keyboard="false" data-backdrop="static" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2 class="modal-title">CSV Settings</h2>
          </div>
          <br>
          <form id="CSV_ticketFields" name="ticketFieldsForm" ng-submit="CSVstart()">
            <div class="modal-body">
              <b>CSV file</b>
              <br>
              <!-- <input type="file" custom-on-change="uploadFile"/> -->
              <input type="file" class="form-control" custom-on-change="CSVSettings" placeholder="Select CSV file..." accept=".csv,.tsv,.txt" required>
              <!--<input type="checkbox" ng-model="CSVHeaders">Description Header-->
              <div>
                <span ng-bind-html="CSVInfo" />
              </div>
              <br>
              <br>
              <b>Ticket parameters</b>
              <br>
              <table class="table table-borderless">
                <tr>
                  <td>ID:</td>
                  <td>
                    <select class="form-control" ng-model="CSVColumns.id">
                      <option value=""></option>
                      <option ng-repeat="option in CSVHeaders" value="{{option}}">{{option}}</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>Subject:</td>
                  <td>
                    <select class="form-control" ng-model="CSVColumns.subject">
                      <option value=""></option>
                      <option ng-repeat="option in CSVHeaders" value="{{option}}">{{option}}</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>Requester name:</td>
                  <td>
                    <select class="form-control" ng-model="CSVColumns.requester_name">
                      <option value=""></option>
                      <option ng-repeat="option in CSVHeaders" value="{{option}}">{{option}}</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>Requester email:</td>
                  <td>
                    <select class="form-control" ng-model="CSVColumns.requester_email">
                      <option value=""></option>
                      <option ng-repeat="option in CSVHeaders" value="{{option}}">{{option}}</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>Status:</td>
                  <td>
                    <select class="form-control" ng-model="CSVColumns.status">
                      <option value="fixed:closed">-- Fixed: Closed --</option>
                      <option value="fixed:open">-- Fixed: Open --</option>
                      <option value="fixed:solved">-- Fixed: Solved --</option>
                      <option ng-repeat="option in CSVHeaders" value="{{option}}">{{option}}</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>Status Tag:</td>
                  <td>
                    <select class="form-control" ng-model="CSVColumns.status_tag">
                      <option value=""></option>
                      <option ng-repeat="option in CSVHeaders" value="{{option}}">{{option}}</option>
                    </select>
                  </td>
                </tr>
                <td>Created at:</td>
                <td>
                  <select class="form-control" ng-model="CSVColumns.created_at">
                    <option value=""></option>
                    <option ng-repeat="option in CSVHeaders" value="{{option}}">{{option}}</option>
                  </select>
                </td>
                </tr>
                <td>Updated at:</td>
                <td>
                  <select class="form-control" ng-model="CSVColumns.updated_at">
                    <option value=""></option>
                    <option ng-repeat="option in CSVHeaders" value="{{option}}">{{option}}</option>
                  </select>
                </td>
                </tr>
                <td>Date format:</td>
                <td>
                  <input type="text" class="form-control" ng-model="CSVColumns.date_format" placeholder="YYYYMMDDHHmmss" ng-required="CSVColumns.created_at||CSVColumns.updated_at">
                </td>
                </tr>
                <tr>
                  <td>Group ID:</td>
                  <td>
                    <input type="text" class="form-control" ng-model="CSVColumns.group" ng-pattern=/^\d+$/>
                  </td>
                </tr>
                <tr>
                  <td>Additional Tags:</td>
                  <td>
                    <input type="text" class="form-control" ng-model="CSVColumns.tags" placeholder="Separated by space, comma or semicolon">
                  </td>
                </tr>
              </table>
              <br>

              <b>CSV Line (1 = Header)</b>
              <br>
              <input type="text" class="form-control inline-input" ng-class="{'has-error': hasError}" ng-pattern=/^\d+$/ ng-model="indexInit" placeholder="From line..." required>
              <input type="text" class="form-control inline-input" ng-class="{'has-error': hasError}" ng-pattern=/^\d+$/ ng-model="indexEnd" placeholder="To line..." required>
              <br>
              <br>
              <b>Delay between requests in SECONDS</b>
              <br>
              <input type="text" class="form-control inline-input" style="width:60px" ng-model="delay" ng-pattern=/^\d+$/>
              <br>
              <br>

              <b>Custom Fields
                <i class="fa fa-plus-circle" aria-hidden="true" ng-click="addCustomField()"></i>
              </b>
              <br>
              <div ng-repeat="items in customFieldsArray">
                <input type="text" class="form-control ticketFieldInfo" ng-pattern=/^\d+$/ ng-model="items.id" placeholder="Custom Field ID" name="customFieldId" required>
                <select class="form-control ticketFieldInfo" ng-model="items.value" required>
                  <option ng-repeat="option in CSVHeaders" value="{{option}}">{{option}}</option>
                </select>
                <br>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" ng-disabled="ticketFieldsForm.$invalid">OK</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div id="csv-orgs-settings-modal" class="modal fade" data-keyboard="false" data-backdrop="static" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2 class="modal-title">CSV Settings</h2>
          </div>
          <br>
          <form id="CSV_orgsFields" name="orgFieldsForm" ng-submit="CSVstart()">
            <div class="modal-body">
              <b>CSV file</b>
              <br>
              <!-- <input type="file" custom-on-change="uploadFile"/> -->
              <input type="file" class="form-control" custom-on-change="CSVSettings" placeholder="Select CSV file..." accept=".csv,.tsv,.txt" required>
              <!--<input type="checkbox" ng-model="CSVHeaders">Description Header-->
              <div>
                <span ng-bind-html="CSVInfo" />
              </div>
              <br>
              <br>
              <b>Organization data</b>
              <br>
              <table class="table table-borderless">
                <tr>
                  <td>External ID:</td>
                  <td>
                    <select class="form-control" ng-model="CSVColumns.external_id">
                      <option value=""></option>
                      <option ng-repeat="option in CSVHeaders" value="{{option}}">{{option}}</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>Name:</td>
                  <td>
                    <select class="form-control" ng-model="CSVColumns.name">
                      <option value=""></option>
                      <option ng-repeat="option in CSVHeaders" value="{{option}}">{{option}}</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>Details:</td>
                  <td>
                    <select class="form-control" ng-model="CSVColumns.details">
                      <option value=""></option>
                      <option ng-repeat="option in CSVHeaders" value="{{option}}">{{option}}</option>
                    </select>
                  </td>
                </tr>
                <td>Domain names:</td>
                <td>
                  <input type="text" class="form-control" ng-model="CSVColumns.domain_names">
                </td>
                </tr>
                <tr>
                  <td>Group ID:</td>
                  <td>
                    <input type="text" class="form-control" ng-model="CSVColumns.group" ng-pattern=/^\d+$/>
                  </td>
                </tr>
                <tr>
                  <td>Tags:</td>
                  <td>
                    <input type="text" class="form-control" ng-model="CSVColumns.tags" placeholder="Separated by space, comma or semicolon">
                  </td>
                </tr>
              </table>
              <br>

              <b>CSV Line (1 = Header)</b>
              <br>
              <input type="text" class="form-control inline-input" ng-class="{'has-error': hasError}" ng-pattern=/^\d+$/ ng-model="indexInit" placeholder="From line..." required>
              <input type="text" class="form-control inline-input" ng-class="{'has-error': hasError}" ng-pattern=/^\d+$/ ng-model="indexEnd" placeholder="To line..." required>
              <br>
              <br>
              <b>Delay between requests in SECONDS</b>
              <br>
              <input type="text" class="form-control inline-input" style="width:60px" ng-model="delay" ng-pattern=/^\d+$/>
              <br>
              <br>

              <b>Organization Fields
                <i class="fa fa-plus-circle" aria-hidden="true" ng-click="addOrgField()"></i>
              </b>
              <br>
              <div ng-repeat="items in orgFieldsArray">
                <input type="text" class="form-control orgFieldInfo" ng-pattern=/^\w+$/ ng-model="items.key" placeholder="Org Field Key" name="orgFieldId" required>
                <select class="form-control orgFieldInfo" ng-model="items.value" required>
                  <option ng-repeat="option in CSVHeaders" value="{{option}}">{{option}}</option>
                </select>
                <select class="form-control orgFieldInfo" ng-model="items.dataType" required>
                  <option value="Text" selected>Text</option>
                  <option value="Date_br">Date (DD/MM/AAAA)</option>
                  <option value="Checkbox">Checkbox</option>
                </select>
                <br>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" ng-disabled="orgFieldsForm.$invalid">OK</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>


</html>
